body {
  display: flex;
  flex-direction:column;
  
  }

.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  font-size: 24px;
  color: #f9faf8;
}

ul {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  list-style-type: none;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.top{
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}


.subheading {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  

  

}


img {
  width:600px; height: 500px;
  display: flex;
  flex-direction:row;
  justify-content: right;
  padding-right: 30px;
  
}

  .toptext {
  font-size: 18px;
  color: #e5e7eb;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 52px;
  padding-right: 52px;
  padding-left: 52px;
  }


  button {
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
  }

  .second .container{
    background-color: white; 
    display: flex;
    flex-direction: row;
    padding-top: 100px;
      align-items:flex-start;
      justify-content:flex-start;
      gap: 52px;
      text-align: center;
  }
.second .text {
  padding-top: 100px;
  margin-bottom: 5px;
}
      .second img {
        width: 100px;
        height: 100px;
        align-content: flex-start;
      }
    .secondtext{
      padding-top: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 36px;
    }
    
    .info {
      max-width: 200px;
    }
    

.middle {
  display: flex;
  flex-direction: column;

}

.bottom {
  display: flex;
  flex-direction: column;

}

.footer{
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
    }